<div class="container mt-5">
    <h3 class="text-center ">Our Specials!!!</h3>
    <div class="row">
        <div class="col-4" *ngFor="let item of filteredItems">
            <div class="card"> 
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <img [src]="item.photoUrl" class="card-img-top" alt="Pav Bhaji">
                        </div>
                        <div class="col-7 text-end item-content-box">
                            <h4>{{item.description}}</h4>
                            <h6>{{item.price | currency}}</h6>
                            <button class="btn btn-sm btn-success" (click)="addItemToCart(item)">Add</button>
                        </div>
                    </div>
                    <p class="restaurant-text">{{item.restaurantName}}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>