<div class="parent">
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login" [formGroup]="loginForm" (ngSubmit)="submit()">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="userName" class="login__input" placeholder="Email"
                            formControlName="email" (input)="limitEmailLength($event)">

                        <div class="error-list" *ngIf="fc.email.errors && (fc.email.touched || isSubmitted)">

                            <div *ngIf="fc.email.errors.required">Please provide email address</div>
                            <div *ngIf="fc.email.errors.email" >Please provide a valid email address</div>
                            <div *ngIf="fc.email.errors.minlength" >Email should be at least 10
                                characters long</div>
                            <div *ngIf="fc.email.errors.maxlength" >Email should be atmost 20
                                    characters long</div>
                        </div>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <div class="password-field">
                            <input [type]="passwordToggler ? 'password' : 'text'" name="password" class="login__input"
                                placeholder="Password *" formControlName="password">
                            <button type="button" (click)="togglePassword()">
                                <p>Show</p>
                            </button>
                        </div>
                            <div class="error-list" *ngIf="fc.password.errors && (fc.password.touched || isSubmitted)">
                                <div *ngIf="fc.password.errors.required">Please provide the password</div>
                                <div *ngIf="fc.password.errors.minlength" >Password should be at least 8 characters long</div>
                                <div *ngIf="fc.password.errors.pattern">
                                  Password should include at least 1 uppercase letter, 1 digit, and 1 special character
                                </div>
                              </div>
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Log In</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
                <div class="signup-link">
                    Not signed up? <a routerLink="/signup">Click here to sign up</a>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</div>