<div class="container mt-3">
    <h3 class=" item text-center mb-2">Our Specials!!!</h3>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col" *ngFor="let category of categoryList" (click)="navigate(category.categoryName)">
            <a>
                <div class="card">
                    <img [src]="category.photoUrl" class="card-img-top" alt="Pav Bhaji">
                    <div class="card-body">
                        <h5 class="card-title">{{category.categoryName}}</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>