<ng-container *ngIf="!loading && cartProducts && cartProducts.length !== 0">
<div class="container mt-2">
    <h3 class="cart text-center mb-4">Shopping Cart</h3>
    <div class="d-flex justify-content-evenly mt-4"> 
      <a routerLink="/order">
        <button class="btn btn-danger rounded-0 px-3" *ngIf="cartProducts.length != 0" (click)="orderNow()">Order Now</button>
      </a>
    </div>
    <div class="row mt-4"> 
      <div class="col-12" *ngFor="let item of cartProducts; let i = index">
       
        <div class="card">
          <div class="card-body">
            <div class="flex-box">
              <div class="col-6">
                <div class="image-container">
                  <img [src]="item.Restaurant.photoUrl" class="card-img-top" alt="Pav Bhaji">
                </div>
              </div>
              <div class="col-6 text-end item-content-box">
                <h4>{{ item.Restaurant.description }}</h4>
                <h6>{{ item.Restaurant.price | currency }}</h6>
              </div>
            </div>
            <p class="restaurant-text">{{ item.Restaurant.restaurantName }}</p>
            <div class="quantity-controls">
              <div>
                <button type="button" class="btn custom-button" (click)="decrementQuantity(item)">-</button>
                <span class="quantity">{{ item.quantity || 1 }}</span>
                <button type="button" class="btn custom-button" (click)="incrementQuantity(item)">+</button>
              </div>
              <button type="button" class="btn btn-danger" (click)="removeItem(item, i)">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!loading && (!cartProducts || cartProducts.length === 0)">
      <div class="p-3 w-100 text-center">
        <h4>Cart Is Empty</h4>
      </div>
  </ng-container>
