.container {
    display: flex;
    justify-content: center;
}

.container > *{
    flex-grow: none;
}

.collapse .navbar-collapse .button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.button {
    width: 15rem;
}

.flex-gap {
    gap: 1rem;
}

.custom-button {
    background-color: #5D54A4;
    color: white;
}

.foot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
}