<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <div class="col-9">
      <a class="navbar-brand ">Item List</a>
    </div>
    <div class="collapse navbar-collapse col-3" id="navbarNav">
      <ul class="navbar-nav mr-auto flex-gap">
        <li class="nav-item active">
          <a class="nav-link" routerLink="foodCategory">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="login">Login</a>
        </li> -->
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="cart">Cart</a>
        </li>
        <li class="nav-item dropdown">
          <button *ngIf="!isLoggedIn" type="button" class="btn custom-button" (click)="toggleLogin()">Login</button>
          <button *ngIf="isLoggedIn" type="button" class="btn custom-button" (click)="toggleLogin()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer py-3 mt-5">
  <div class="container text-center">
      <p>&copy; 2023 FoodApp Item List. All rights reserved.</p>
  </div>
</footer>