<div class="parent">
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="signup">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="username" [(ngModel)]="signupObj.username" class="login__input" placeholder="Username">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-envelope"></i>
                        <input type="email" name="email" [(ngModel)]="signupObj.email" class="login__input" placeholder="Email">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-mobile-alt"></i>
                        <input type="text" name="mobile" [(ngModel)]="signupObj.phone" class="login__input" placeholder="Mobile">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" name="password" [(ngModel)]="signupObj.password" class="login__input" placeholder="Password">
                    </div>
                    <button (click)="onSignUp()" class="button login__submit">
                        <span class="button__text">Sign Up</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>
                <div class="signup-link">
                    Already have an account? <a routerLink="/login">Log in</a>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</div>

