<div class="parent">
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form  class="signup" [formGroup]="signupForm" (ngSubmit)="submit()">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="username"  class="login__input" placeholder="Username" formControlName="username">
                        <div class="error-list" *ngIf="fc.username.errors && isSubmitted">
                            <div *ngIf="fc.username.errors.required" >Please provide username</div>
                        </div>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-envelope"></i>
                        <input type="email" name="email"  class="login__input" placeholder="Email" formControlName="email">
                        <div class="error-list" *ngIf="fc.email.errors && isSubmitted">
                            <div *ngIf="fc.email.errors.email" >Please provide a valid email</div>
                             <div *ngIf="fc.email.errors.required" >Please provide email address</div> 
                            <!-- </div> -->
                            
                        </div>
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-mobile-alt"></i>
                        <input type="text" name="mobile"  class="login__input" placeholder="Mobile" formControlName="mobileNumber"
                        (input)="limitMobileNumberLength($event)">
                        <div class="error-list" *ngIf="fc.mobileNumber.errors && isSubmitted">
                            <div *ngIf="fc.mobileNumber.errors.required" >Please provide mobile number</div>
                            <div *ngIf="fc.mobileNumber.errors.minlength" >Mobile Number should be atleast 10 characters</div>
                            <div *ngIf="fc.mobileNumber.errors.pattern" >Mobile Number should contain only numbers</div>
                          </div>

                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" name="password"  class="login__input" placeholder="Password" formControlName="password">
                        <div class="error-list" *ngIf="fc.password.errors && isSubmitted">
                            <div *ngIf="fc.password.errors.required">Please provide the password</div>
                            <div *ngIf="fc.password.errors.minlength" >Password should be at least 8 characters long</div>
                            <div *ngIf="fc.password.errors.pattern">
                              Password should include at least 1 uppercase letter, 1 digit, and 1 special character
                            </div>
                          </div>
                    </div>
                    <div class="login__field">
    <i class="login__icon fas fa-lock"></i>
    <input type="password" name="confirmPassword" class="login__input" placeholder="Confirm Password" formControlName="confirmPassword">
    <div class="error-list" *ngIf="fc.confirmPassword.errors && isSubmitted">
        <div *ngIf="fc.confirmPassword.errors.required">Please confirm your password</div>
        <div *ngIf="fc.confirmPassword.errors.mismatch">Passwords do not match</div>
    </div>
</div>
                    
                    <button  class="button login__submit" >
                        <p class="button__text">Sign Up</p>

                    </button>				
                </form>
                <div class="signup-link">
                    Already have an account? <a routerLink="/login">Log in</a>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</div>
